<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <table border="2px">
            <tr>
                <th>TopicName</th>
                <th>Name</th>
                <th>URL</th>
                <th>Email</th>
            </tr>
            {% for to in WTO %}
            <tr>
                <td>{{to.topic_name}}</td>
                <td>{{to.name}}</td>
                <td>{{to.url}}</td>
                <td>{{to.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>